{% extends 'Whatapp/base.html' %}
{% load static %}
{% block content %}

<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
	<section id="banner" class="style2">
		<div class="inner">
			<span class="image">
				<img src="images/pic07.jpg" alt="" />
			</span>
			<header class="major">
				<h1>Blog</h1>
			</header>
			<div class="inner">
				<p>Welcome to our blog, where innovation meets insight! Join us as we explore the latest trends, technologies, and ideas shaping the world today. From artificial intelligence to sustainable practices, we dive deep into topics that inspire, inform, and empower. Get ready to expand your knowledge and embark on a journey of discovery with our engaging and thought-provoking articles. Let's ignite your curiosity and explore the endless possibilities together. Welcome to a world of inspiration! </p>
			</div>
		</div>
	</section>

<!-- Mis servicios -->
<div id="main">
	<section id='three' class="spotlights">
{% for post in posts %}

	<section>
		<a href="/blog/post/{{post.id}}" class="image">
			<img src="{{post.image.url}}" data-position="center center" />
		</a>
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>{{post.title}}</h3>
				</header>
				<p>{{post.content|truncatechars:300}}...</p>
				<p style="font-size:smaller">Created by: {{post.autor}}</p>
				<p style="font-size:x-small">{{post.created}}</p>
				<ul class="actions">
					<li><a href="/blog/post/{{post.id}}" class="button">Read</a></li>
				</ul>
			</div>
		</div>
	</section>


{% endfor %}



<section>
	<div style="width: 75%; margin: auto; text-align:center;">
		Categories: 
		{% for post in posts %}

			{% for categoria in post.categorias.all %}

				<a href="{% url 'Categories' categoria.id %}">{{categoria.name}}</a> /

			{% endfor %}

		{% endfor %}
	</div>
</section>

	</section>
</div>
	<div id="main">
		<!-- Three -->
        <section id="three">
            <div class="inner">
                <header class="major">
                    <h2>Embrace a New Way to Connect</h2>
                </header>
                <p>We invite you to explore our wide range of services and discover how our expertise can benefit your business. Whether you're looking to automate customer interactions, streamline communication processes, or enhance overall efficiency, our customized WhatsApp bot solutions are designed to cater to your specific needs. Don't miss out on the opportunity to provide exceptional customer experiences and drive growth. Contact us today to learn more about our services and how we can assist you.</p>
                <ul class="actions">
                    <li><a href="{% url 'Landing' %}" class="button next">Evolve NOW</a></li>
                </ul>
            </div>
        </section>

	</div>

	{% endblock %}