{% extends 'Whatapp/base.html' %}
{% load static %}
{% block content %}
<!-- Main -->
<div id="main" class="alt">

	<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h1>{{post.title}}</h1>
					<h3>By: {{post.autor}}</h3>
					<h5>Created on: {{post.created}}</h5>
				</header>
				<div class="inner" style="text-align: center;">
					<span class="image main"><img src="{{post.image.url}}" style="height: 30%; width: 30%; display:inline-block" alt="" /></span>
				</div>
				<p>{{post.content}}</p>

			</div>
		</section>

</div>
{% endblock %}